<%- include('./partials/head') %>
<%- include('./partials/nav', { user }) %>

<section class="section">
    <div class="container">
      <div class="columns">
	      <div class="column">
          <h1 class="title"><a href="./<%= recipe.id %>"><%= recipe.recipe_title %></a></h1>
          <hr/>
          <h2 class="subtitle">
            <%= recipe.ingredients %>
          </h2>
          <h2 class="subtitle">
            <%= recipe.directions %>
          </h2>
          <% if (user.id === recipe.creator_id) { %>
          <form method="GET" action="/recipes/<%= recipe.id %>/edit">
            <div class="field">
              <p class="control">
                <input type='submit' value='edit' class="button is-warning" />
              </p>
            </div>
          </form>
          <form method="POST" action="/recipes/<%= recipe.id %>?_method=DELETE">
            <div class="field">
              <p class="control">
                <input type='submit' value='DELETE' class="button is-success" />
              </p>
            </div>
          </form>
          <% } %>
        </div>
      </div>
    </div>
  </section>

<%- include('./partials/foot') %>