<%- include('./partials/head') %>
<%- include('./partials/nav', { user }) %>

<h2><%= recipe.recipe_title %></h2>
  <h4><%= recipe.ingredients %></h4>
  <h4><%= recipe.directions %></h4>

<%- include('./partials/foot') %>